@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: "Open Sans", Roboto, sans-serif, Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply text-lg;
}

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}




/* Style for code blocks with class .ql-syntax */
.ql-syntax {
  @apply bg-slate-200;
  border: 1px solid #F6F6F7;
  color: rgb(75 85 99 /1);
  line-height: 1.5;
  padding: 1rem;
  border-radius: .5rem;
  margin-bottom: .5rem;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.dark .ql-syntax {
  @apply bg-slate-800;
  border: 1px solid rgb(61, 69, 83);
  color: #e8e7e7;
}


blockquote {
  display: block;
  background-color: rgba(123, 0, 211, .2);
  border-color: rgb(123 0 211 / 1);

  unicode-bidi: isolate;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  --tw-border-opacity: 1;

  padding: 2rem;
  font-weight: 500;
  border-left-width: .25rem;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  box-sizing: border-box;
}

.dark blockquote {
  background-color: rgba(255, 219, 77, .2);
  border-color: rgb(255 219 77 / 1);
}







/* .dark .ql-fill{
  fill: rgb(247, 241, 241) !important;
}
.dark .ql-stroke{
  stroke: rgb(247, 241, 241) !important;
}

.dark .ql-picker-label{
  color: rgb(247, 241, 241) !important;
}
.dark .ql-fill:hover{
  fill: rgb(13, 75, 133) !important;
}
.dark .ql-stroke:hover{
  stroke: rgb(13, 75, 133) !important;
}

.dark .ql-picker-label:hover{
  color: rgb(13, 75, 133);
}



.l-picker-options{
background-color: brown !important;
}
 */