@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Inter", Roboto, sans-serif, Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply text-lg;
}

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}




/* Style for code blocks with class .ql-syntax */
.ql-syntax {
  @apply bg-slate-200;
  border: 1px solid #F6F6F7;
  color: rgb(75 85 99 /1);
  line-height: 1.5;
  padding: 1rem;
  border-radius: .5rem;
  margin-bottom: .5rem;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.dark .ql-syntax {
  @apply bg-slate-800;
  border: 1px solid rgb(61, 69, 83);
  color: #e8e7e7;
}


blockquote {
  display: block;
  background-color: rgba(123, 0, 211, .2);
  border-color: rgb(123 0 211 / 1);

  unicode-bidi: isolate;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  --tw-border-opacity: 1;

  padding: 2rem;
  font-weight: 500;
  border-left-width: .25rem;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  box-sizing: border-box;
}

.dark blockquote {
  background-color: rgba(255, 219, 77, .2);
  border-color: rgb(255 219 77 / 1);
}




/* width: 800px;
  height: 200px;
} */
/* index.css */
iframe.ql-video {
  display: block;
  /* Ensure the iframe behaves like a block element */
  margin: 0 auto;
  @apply w-full;

}

@media (min-width: 320px) {
  iframe.ql-video {
    @apply h-[170px];
  }
}

@media (min-width: 375px) {
  iframe.ql-video {
    @apply h-[250px];
  }
}

@media (min-width: 525px) {
  iframe.ql-video {
    @apply h-[300px];
  }
}

@media (min-width: 650px) {
  iframe.ql-video {
    @apply h-[350px];
  }
}

@media (min-width: 720px) {
  iframe.ql-video {
    @apply md:h-[400px];
    /* @apply w-[300px]; */
  }
}

@media (min-width: 850px) {
  iframe.ql-video {
    @apply lg:h-[450px];
  }
}




/* .copy-button::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
} */

/* .copy-code-button:hover {
	cursor: pointer;
	background-color: #F2F2F2;
} */

/* .copy-code-button:active {
	background-color: #D9D9D9;
} */




/* .dark .ql-fill{
  fill: rgb(247, 241, 241) !important;
}
.dark .ql-stroke{
  stroke: rgb(247, 241, 241) !important;
}

.dark .ql-picker-label{
  color: rgb(247, 241, 241) !important;
}
.dark .ql-fill:hover{
  fill: rgb(13, 75, 133) !important;
}
.dark .ql-stroke:hover{
  stroke: rgb(13, 75, 133) !important;
}

.dark .ql-picker-label:hover{
  color: rgb(13, 75, 133);
}



.l-picker-options{
background-color: brown !important;
}
 */


.copy-code-button {
  @apply text-gray-500 bg-gray-100 dark:text-gray-400 hover:bg-gray-200 dark:bg-gray-800 dark:border-gray-600 dark:hover:bg-gray-700 rounded-lg p-1 text-[14px] inline-flex items-center justify-center border-gray-200 border;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;

  /* right-align
	display: block;
	margin-left: auto;
	margin-right: 0;

	margin-bottom: -2px;
	padding: 3px 8px; */
}

.copy-code-button>span {
  color: #F1F2F3 !important;
}

.copy-code-button,
::before,
::after {
  box-sizing: inherit;
}

.copy-code-button::before {
  display: inline-block;
  position: relative;
}

/* .copy-button::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
} */

/* .copy-code-button:hover {
	cursor: pointer;
	background-color: #F2F2F2;
} */

/* .copy-code-button:active {
	background-color: #D9D9D9;
} */

.copy-code-button:focus {
  outline: 0;
}



pre[class*="prettyprint"] {
  -moz-hyphens: none;
  hyphens: none;
  position: relative;
  overflow: hidden;
  @apply text-sm md:text-sm lg:text-xl;
}

ol.linenums {
  padding: 0;
  list-style-position: inside;
  overflow: auto;
}


.cat-post-content {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}